[Desktop Entry]
Encoding=UTF-8
Name=Link to ai-financialANN/datahandler.py at master · thearrow/ai-financialANN
Type=Link
URL=https://github.com/thearrow/ai-financialANN/blob/master/datahandler.py
Icon=text-html
