[Desktop Entry]
Encoding=UTF-8
Name=Link to jakemmarsh/neural-network-stock-predictor: Semester project for COS 470 (Artifical Intelligence) at the University of Maine.
Type=Link
URL=https://github.com/jakemmarsh/neural-network-stock-predictor
Icon=text-html
