[Desktop Entry]
Encoding=UTF-8
Name=Link to python - Pybrain time series prediction using LSTM recurrent nets - Stack Overflow
Type=Link
URL=http://stackoverflow.com/questions/25967922/pybrain-time-series-prediction-using-lstm-recurrent-nets
Icon=text-html
