[Desktop Entry]
Encoding=UTF-8
Name=Link to TensorFlow-Tutorials-for-Time-Series/lstm-for-epf.py at master · tgjeon/TensorFlow-Tutorials-for-Time-Series
Type=Link
URL=https://github.com/tgjeon/TensorFlow-Tutorials-for-Time-Series/blob/master/lstm-for-epf.py
Icon=text-html
